openapi: 3.0.3
info:
  title: Telegram API
  description: Official telegram API.
  version: v1
servers:
  - url: https://api.telegram.org
    description: prod
paths:
  # https://core.telegram.org/bots/api
  /{token}/getMe:
    get:
      tags:
        - Telegram
      summary: A simple method for testing your bot's authentication token. Requires no parameters. Returns basic information about the bot in form of a User object.
      operationId: getMe
      parameters:
        - $ref: '#/components/parameters/TokenPathRequired'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMeResponse'
        default:
          description: error schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    GetMeResponse:
      properties:
        ok:
          type: boolean
        result:
          $ref: '#/components/schemas/GetMeResponseContent'
    GetMeResponseContent:
      properties:
        id:
          type: integer
          format: int64
        is_bot:
          type: boolean
        first_name:
          type: string
        username:
          type: string
        can_join_groups:
          type: boolean
        can_read_all_group_messages:
          type: boolean
        supports_inline_queries:
          type: boolean
    Error:
      type: string
  parameters:
    TokenPathRequired:
      in: path
      name: token
      description: Auth token in the path.
      required: true
      schema:
        type: string
